<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

<body>

  </div>

  <form action="/form" method="post">
    <fieldset>
      <legend>
        Shoot Info
      </legend>
      <div>
        <label for="thedate">Date</label>
        <input type="date" name="thedate" />
      </div>

      <legend>
        Person Info
        <label for="first_name">Your First Name</label>
        <input type="text" name="first_name" value="first name">
        <label for="last_name">Your Last Name</label>
        <input type="text" name="last_name" value="last name">
      </legend>
    </fieldset>
    <div>
      <input type="submit" value="Submit"/>

    </div>
  </form>

  </div>

</body>
</html>
