<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>js test 001</title>
    <script src="../js/script_001.js" defer></script>
    <link rel='stylesheet' href='../css/js_test_001.css' />
  </head>
  <body>
      <div id="space" style="height: 30vh;">

      </div>
      <div style="width: 20%; height: 10px; float: left">
      </div>
      <div id="in_button" class="start_red">
        <h3>IN</h3>
      </div>
      <div style="width: 10%; height: 10px; float: left">
      </div>
      <div id="out_button" class="start_black">
        <h3>OUT</h3>
      </div>
      <br />
      <div id="timer" class="timer_off">

      </div>
  </body>
</html>
