<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="css/bootstrap.css">
  <title>Bootstrap</title>
</head>
<body>

<div class="container">
  <div class="jumbotron-fluid mb-4">
    <img src="images/music-vis.jpg" class="img-fluid rounded" />
  </div>
  <div class="display-1 text-uppercase">
    testing
  </div>
  <section class="project-heading bg-info rounded">
    <h1>HARVARD/MCGILL DIGITAL BRIDGE</h1>
    <h4>FACULTY: EMILY DOLAN, GARDNER COWLES ASSOCIATE PROFESSOR OF MUSIC</h4>
    <h4>FELLOW: BILL O’HARA</h4>
  </section>
  <section class="project-description">
    <p class="text-justify">
      Music professor Emily Dolan is co-leading a graduate seminar with a colleague of hers, Jonathan Stern (Professor of Culture and Technology at McGill University in Montreal, Quebec). Seminars met in parallel on each campus, connecting via video conference for group disussions every other week. Two in-person meetings also took place, with each group of students visiting the opposite campus during their spring break. The Bok Center met several times with Dolan in the fall, providing support for the technological requirements (by purchasing and supporting equipment that HUIT was unable to furnish) and developing various models for conducting a large humanities seminar via video conference. We also consulted with music department staff about renovations to their seminar room, which took place in January.
    </p>
    <p>
      Bok Center staff and fellows also worked directly with Dolan and her students for the first few seminar meetings, offering technical support and experimenting with new solutions. In the end, the seminar settled on a model in which each professor facilitated live discussion among students via video chat, supplemented by a live text backchannel (via Google Docs), on which students shared ideas, references, and links. At the end of the semester, the Bok Center conducted interviews with graduate students from Harvard and McGill, collecting their reactions and experiences, and their reflections on the seminar's emergent meta-theme: in a class on instruments and instrumentality, the classroom *itself* was revealed as an instrument of teaching and learning.
    </p>
    <img src="images/emily-dolan-001.jpg" class="img-fluid rounded" />
    <strong class="text-info">Media, tools and literacies:</strong>
    <ul>
      <li class="list-unstyled">
        web conferencing
      </li>
      <li class="list-unstyled">
        back-channel chat
      </li>
      <li class="list-unstyled">
        live streaming
      </li>
      <li class="list-unstyled">
        classroom design
      </li>
      <li class="list-unstyled">
        remote seminar facilitation
      </li>
    </ul>
    <p>
      <strong>Deliverables & outcomes:</strong> web-conference teaching templates; graduate student reflections on seminar design and interdisciplinary learning in the humanities; purchased equipment and developed expertise to support future video-based classes and seminars at Harvard.

  </section>
  <a href="/index">
    <h3>index</h3>
  </a>
  <a href="/form">
    <h3>form</h3>
  </a>
  <a href="/layout">
    <h3>layout</h3>
  </a>
</div><!-- container -->

<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/tether.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>
