<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <title>Bootstrap</title>
</head>
<body>
<header class="clearfix" style="height: 40vh; background: url(/images/textbook-lego.jpg) no-repeat center center; background-size: cover; margin-bottom: 30px;">
</header>
<div class="container">
  <div class="display-1 text-uppercase text-center" style="background: rgba(255,0,0,.5); color: white; border-radius:20px; padding:20px; margin-bottom:20px; font-family:Avenir; font-size:70px; font-weight:900">
    <span class="strut" style="display: inline-block; height: 68px"></span>
    FORM 02
  </div>

  <form>
    <fieldset class="form-group">
      <legend>
        Shoot Info
      </legend>
      <div>
        <label for="thedate">Date</label>
        <input type="date" id="thedate" />
      </div>
      <legend>
        Person Info
      </legend>
    </fieldset>

  </form>

  </div>

<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../js/tether.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/scripts.js"></script>
</body>
</html>
