<!DOCTYPE html>
<html>
  <head>
    <% include partials/template/head.ejs %>
  </head>
  <body id="<%= pageID %>">
    <header>
    <% include partials/template/header.ejs %>
    </header>
    <h1><%= siteTitle %>--<%= pageTitle %></h1>
    <div class="container">
    </div>
  </body>
</html>
