<!DOCTYPE html>
<html>
  <head>
    <% include partials/template/head.ejs %>
    <link rel='stylesheet' href='/css/person.css' />
  </head>
  <body id="<%= pageID %>">
    <header>
    <% include partials/template/header.ejs %>
    </header>
    <h1><%= siteTitle %>--<%= pageTitle %></h1>
    <div class="person_image">
      testing
        <%- image_embed %>
        <p>
          is that an image?
        </p>
    </div>


    <div class="container">

    <div class="row fixed-bottom">
      <div class="col-4 text-center rounded" style="background-color: rgba(255,100,0,0.5)">
        <a href="/bootstrap-index">
          <h5 class="text-white">INDEX</h5>
        </a>
      </div>
      <div class="col-4 text-center rounded" style="background-color: rgba(255,0,180,0.5)">
        <a href="/form">
          <h5 class="text-white">FORM</h5>
        </a>
      </div>
      <div class="col-4 text-center rounded" style="background-color: rgba(0,100,180,0.4)">
        <a href="/layout">
          <h5 class="text-white">LAYOUT</h5>
        </a>
      </div>


    </div><!-- row -->
  </div><!-- container -->
  </body>
</html>
